name: 'Automatic build'
on:
  push:
    branches: [ main, reset/zodiarks-clean ]
    paths-ignore:
      - .gitignore
      - README.md
      - LICENSE
  schedule:
    - cron: "0 9 * * *"  # daily rebuild at 9 UTC
    
jobs:
  continuous-delivery:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0  # for posts's lastmod

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2'
          bundler-cache: true

      - name: Deploy
        run: bash tools/deploy.sh
